<p id="notice"><%= notice %></p>

<p>
  <strong>Journal:</strong>
  <%= @issue.journal %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @issue.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @issue.number %>
</p>

<p>
  <strong>Year:</strong>
  <%= @issue.year %>
</p>

<%= link_to 'Back', issues_path %>
