<%= form_with(model: article, url: [:admin, article.issue.journal, article.issue, article], local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :issue %>
    <%= form.text_field :issue_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_area :abstract %>
  </div>

  <div class="field">
    <%= form.label :paper %>
    <%= form.file_field :paper %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
