<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @author.unit %>
</p>

<p>
  <strong>Introduce:</strong>
  <%= @author.introduce %>
</p>

<p>
  <strong>Order:</strong>
  <%= @author.order %>
</p>

<%= link_to 'Edit', edit_admin_journal_issue_article_author_path(@author.article.issue.journal, @author.article.issue, @author.article, @author) %> |
<%= link_to 'Back', admin_journal_issue_article_authors_path(@author.article.issue.journal, @author.article.issue, @author.article) %>
