<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-file"></i>
    作者信息
  </div>
  <div class="card-body">
    <div class="media">
      <img class="mr-3" src="..." alt="Author's image">
      <div class="media-body">
        <h5 class="mt-0"><%= @author.first_name %>, <%= @author.last_name %></h5>
        <p>
          <strong>Unit:</strong>
          <%= @author.unit %>
        </p>

        <p>
          <strong>Introduce:</strong>
          <%= @author.introduce %>
        </p>

        <p>
          <strong>Order:</strong>
          <%= @author.order %>
        </p>
      </div>
    </div>
    <%= link_to '修改', edit_admin_journal_issue_article_author_path(@author.article.issue.journal, @author.article.issue, @author.article, @author) %> |
    <%= link_to '返回', admin_journal_issue_article_authors_path(@author.article.issue.journal, @author.article.issue, @author.article) %>
  </div>
</div>
