<p id="notice"><%= notice %></p>

<h1>Journals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th>Issn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.name %></td>
        <td><%= journal.about %></td>
        <td><%= journal.issn %></td>
        <td><%= link_to 'Show', [:admin, journal] %></td>
        <td><%= link_to 'Edit', edit_admin_journal_path(journal) %></td>
        <td><%= link_to 'Destroy', [:admin, journal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journal', new_admin_journal_path %>
