<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-file"></i>
    期刊
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <dl>
        <dt>期刊名</dt>
        <dd><%= @journal.name %></dd>

        <dt>简介</dt>
        <dd><%= @journal.about %></dd>

        <dt>ISSN</dt>
        <dd><%= @journal.issn %></dd>

        <dt>此期刊已著录卷期：</dt>
        <dd>
          <% @journal.issues.each do |issue| %>
        <%=link_to issue.year + issue.volume + issue.number, [:admin, @journal, issue] %><br>
        <% end %>
        </dd>
      </dl>
      <p>
      <%= link_to '编辑', edit_admin_journal_path(@journal) %> |
      <%= link_to '返回', admin_journals_path %> <br>
      <%= link_to '新增此期刊所属卷期', new_admin_journal_issue_path(@journal) %>
      </p>
    </div>
  </div>
  <div class="card-footer small text-muted">最后更新于 11:59 PM</div>
</div>
