<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-file"></i>
    文章“<%= @article.title %>”的关键词
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>关键词</th>
            <th colspan="2">编辑</th>
          </tr>
        </thead>

        <tbody>
          <% @keywords.each do |keyword| %>
            <tr>
              <td><%= keyword.keyword %></td>
              <td><%= link_to '修改', edit_admin_journal_issue_article_keyword_path(keyword.article.issue.journal, keyword.article.issue, keyword.article, keyword) %></td>
              <td><%= link_to '删除', [:admin, keyword.article.issue.journal, keyword.article.issue, keyword.article, keyword], method: :delete, data: { confirm: '确认要删除么？' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to '新关键词', new_admin_journal_issue_article_keyword_path(@article.issue.journal, @article.issue, @article), class: 'btn btn-success btn-sm' %>
  </div>
</div>
