<p id="notice"><%= notice %></p>

<h1>Journals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th>Issn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.name %></td>
        <td><%= journal.about %></td>
        <td><%= journal.issn %></td>
        <td><%= link_to 'Show', journal %></td>
      </tr>
    <% end %>
  </tbody>
</table>
